{% extends 'base.html'%}
{% block title %}alice2{% endblock %}
 {% block content %}
<form action="" method="post">
     {% load static %}
     <img id="imgBetreffHelp"  data-toggle="tooltip" title="Geben Sie hier Ihren Betreff ein" src="{% static "images/1481561122_Help_and_Support.png" %}" height="25"/>
    {% csrf_token %}
    {{ form }}
    </br>
    </br>
     {% load static %}<img id="imgNachrichtHelp"  data-toggle="tooltip" title="Geben Sie hier Ihre Nachricht ein. Zum zensieren markieren Sie bitte die entsprechenden Textstelle und drucken Sie unter dem Nachrichtenfeld auf zensieren" src="{% static "images/1481561122_Help_and_Support.png" %}" height="25"/>
     <label for="alice2">Nachricht :</label>
    </br>
    <input type="submit" style="float: right"  class="btn btn-primary" value="zensieren" />
    </br>
</form>

<form>
</br>
{% load static %}<img id="imgPasswortHelp" data-toggle="tooltip" title="Behandeln Sie dieses Passwort vertraulich.Der Empfänger der Mail benötigt das Passwort zum entschlüsseln des zensierten Textes." src="{% static "images/1481561122_Help_and_Support.png" %}" height="25"/>
{% csrf_token %}
    {{ sub_form }}
    </br>
    </br>

</form>
<form>
{% load static %}<img id="imgEmailHelp" data-toggle="tooltip" title="Wir brauchen Ihre E-Mail-Adresse falls wir Ihren ein verlorenes Passwort wieder zur Verfügung stellen sollen" src="{% static "images/1481561122_Help_and_Support.png" %}" height="25"/>
{% csrf_token %}
    {{ bub_form }}
    </br>
    <input type="submit" style="float: right"  class="btn btn-primary" value="Verschlüsseln" />
    </br>
    </br>

</form>
{% endblock %}