{% extends 'base.html'%}
{% block title %}bob1{% endblock %}

{% block content %}
   <div class="jumbotron">
        <p class="lead">Du hast eine zensierte E-Mail erhalten. Bitte gib hier das Passwort zum entschlüsseln ein.Das Passwort erfährst du vom Sender dieser E-Mail.  </p>
    <form action="bob2"  method="post">
    {% csrf_token %}
        <div class="form-group">
            <label for="bob1"> Passwort </label>
            <input type="password" class="form-control" id="" value="" name="Pass">
            </br>
            <button  type="submit" value="OK" class="btn btn-lg btn-success">weiter</button>
            <!--<p><a class="btn btn-lg btn-success" href="bob2.html" role="button">weiter</a></p>-->
        </div>
     </form>
    </div>
{% endblock %}